# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
city_data = pd.read_csv("../WeatherPy/output_data/cities.csv")

In [6]:
city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Husavik,32,IS,1625807456,76,66.0449,-17.3389,54.81,2.51
1,1,Karasburg,80,NaN,1625807458,71,-28.0167,18.7500,45.32,4.63
2,2,Atuona,7,PF,1625807460,74,-9.8000,-139.0333,78.55,18.95
3,3,Castro,0,BR,1625807462,92,-24.7911,-50.0119,45.84,3.76
4,4,Kapaa,40,US,1625807464,78,22.0752,-159.3190,80.92,3.00

In [18]:
city_data.rename(columns={"Unnamed: 0" :"City ID"}, inplace=True)

In [19]:
city_data.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Husavik,32,IS,1625807456,76,66.0449,-17.3389,54.81,2.51
1,1,Karasburg,80,NaN,1625807458,71,-28.0167,18.7500,45.32,4.63
2,2,Atuona,7,PF,1625807460,74,-9.8000,-139.0333,78.55,18.95
3,3,Castro,0,BR,1625807462,92,-24.7911,-50.0119,45.84,3.76
4,4,Kapaa,40,US,1625807464,78,22.0752,-159.3190,80.92,3.00

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
gmaps.configure(api_key=g_key)

In [23]:
locations = city_data[["Lat", "Lng"]]
humidity = city_data['Humidity'].astype(int)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [25]:
narrowed_city_data = city_data.loc[(city_data["Max Temp"] < 80) & (city_data["Max Temp"] > 70) & (city_data["Wind Speed"] < 10) & (city_data["Cloudiness"] == 0)].dropna()
narrowed_city_data

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
72,72,Taywarah,0,AF,1625807598,15,33.3500,64.4167,75.36,9.73
84,84,Asău,0,RO,1625807620,78,46.4333,26.4000,74.75,0.65
120,120,Yellowknife,0,CA,1625807411,46,62.4560,-114.3525,73.56,8.01
201,201,Munteni Buzău,0,RO,1625807850,75,44.6333,26.9833,76.37,7.18
298,298,Porto Velho,0,BR,1625808041,94,-8.7619,-63.9039,71.65,0.00
368,368,Mizdah,0,LY,1625808174,69,31.4451,12.9801,70.65,4.27
391,391,Listvyanskiy,0,RU,1625808218,54,54.4399,83.4984,72.19,6.80
459,459,Mahon,0,ES,1625808352,64,39.8885,4.2658,72.16,6.91
551,551,Sobolevo,0,RU,1625808535,71,54.4299,31.8996,70.54,3.85
555,555,Natal,0,BR,1625808487,88,-5.7950,-35.2094,75.42,8.05
579,579,Novi Pazar,0,RS,1625808589,61,43.1367,20.5122,71.62,1.79

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
hotel_df = narrowed_city_data[["City", "Country","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

              City Country      Lat       Lng Hotel Name
72        Taywarah      AF  33.3500   64.4167
84            Asău      RO  46.4333   26.4000
120    Yellowknife      CA  62.4560 -114.3525
201  Munteni Buzău      RO  44.6333   26.9833
298    Porto Velho      BR  -8.7619  -63.9039

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure